// Specific CSS for your home-page
// contact in Application
.title-home {
  padding-top: 2vh;
  display: flex;
  justify-content: space-between;
}

.cld-responsive{
  height: 30vw;
  width: 100%;
  margin-top: 3vw;
}

.banner-home{
  display:flex;
  color: white;
  font-size: 2vw;

}
.title-homepic{
  position: relative;
 margin-top: -10vw;
 margin-left: 1vw;

}

.phrase-homepic{
  margin-top: -7vw;
  margin-left: -5vw;
  position: relative;

}

.categoies-home{



}
