// Specific CSS for your home-page
// contact in Application
.title-home {
  padding-top: 2vh;
  display: flex;
  justify-content: space-between;
}

.cld-responsive{
  height: 30vw;
  width: 100%;
  margin-top: 3vw;
}

.banner-home{
  display:flex;
  color: white;
  font-size: 2vw;

}
.title-homepic{
  position: relative;
 margin-top: -10vw;
 margin-left: 1vw;

}

.phrase-homepic{
  margin-top: -7vw;
  margin-left: -5vw;
  position: relative;

}


.text-trayectoria{
    position: absolute;
    font-size: 1vw;
    margin-left:65vw;
    padding: 1vw;
    background-color: #FFFFFF;
    text-align: center;
     .btn-home{
      font-size: 1.7vw;
      margin-top: -1vw;
    }
  }


///////////////////////////Category Grid/////////////////////////

.title-category-home{
    color:black;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    padding-bottom: 15px;
    padding-top: 25px;
  }


.content-show {
  margin-top: 50px;
}

.backgound-category{
  margin-top: 30px;
 // background-color: black;
 padding-bottom: 100px;
}

.category-home{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row dense;
  grid-gap: 40px;
  grid-auto-rows: minmax(300px, auto);
  border-radius: 10px;

  .pinturas{
    grid-row: span 1;
    grid-column: span 1;
    background-image: url('https://res.cloudinary.com/djrxx3xla/image/upload/v1616679278/opus_XII_zn4qgu.jpg');
  }
}

////Setting all the categories ///
.image-categories{
width: 100%;
border-radius: 10px;
background-size: cover;
position: relative;
box-shadow: 0px 1px 30px rgba(0,0,0,0.1);
margin-top:10px;
.description {
  position: absolute;
  width: 100%;
  background-color: white;
  top: 0;
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #FDE402;
   font-style: bold;
}
p {
  margin-bottom: 0px;
  font-style: bold;
  color: black;
  font-family: ‘Ranchers’, cursive;
}
  border-radius: 10px;
  background-size: cover;
  position: relative;
  box-shadow: 0px 1px 30px rgba(0,0,0,0.1);
  .description {
    position: absolute;
    width: 100%;
    background-color: white;
    top: 0;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background-color: white;
     font-style: bold;
  }
  p {
    margin-bottom: 0px;
    font-weight: bold;
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-style: bold;
  }
}

