<div class="container">
  <div class="title-home">
    <h1>Majo tissone</h1>
    <h2>Trayectoria</h2>
  </div>
  <div class='banner'>
    <img src="https://res.cloudinary.com/djrxx3xla/image/upload/v1616660207/bygmbrptxdowsg3cpkcq.jpg
        " alt="" class="cld-responsive">
    <div class="banner-home">
      <p class="title-homepic"><strong>Title</strong></p>
      <p class="phrase-homepic">Los cuendroLos cuendroLos cuendroLos cuendroLos cuendro</p>
    </div>
  </div>

  <div class="categoies-home">
    <div>






    </div>


  </div>

</div>
