<div class="container">
  <div class="title-home">
    <h1>Majo Tissone</h1>
    <div class="text-trayectoria" ><%= link_to "Trayectoria", trayectoria_path, class: "btn btn-home"%></div>
  </div>
  <div class='banner'>
    <img src="https://res.cloudinary.com/djrxx3xla/image/upload/v1616660207/bygmbrptxdowsg3cpkcq.jpg
        " alt="" class="cld-responsive">
    <div class="banner-home">
      <p class="title-homepic"><strong>Title</strong></p>
      <p class="phrase-homepic">Los cuendroLos cuendroLos cuendroLos cuendroLos cuendro</p>
    </div>
  </div>


<div class="backgound-category content-shows">
  <div class= "container">
  <p class= "title-category-home">Mis Trabajos por Categorias</p>
  <div class="category-home">

    <a href="/celebrities?query=pinturas" class= "image-categories pinturas">
      <div class="description">
        <p>Pinturas</p>
      </div>
    </a>

    <a href="/celebrities?query=pinturas" class= "image-categories pinturas">
      <div class="description">
        <p>Pinturas</p>
      </div>
    </a>

       <a href="/celebrities?query=pinturas" class= "image-categories pinturas">
      <div class="description">
        <p>Pinturas</p>
      </div>
    </a>

       <a href="/celebrities?query=pinturas" class= "image-categories pinturas">
      <div class="description">
        <p>Pinturas</p>
      </div>
    </a>

       <a href="/celebrities?query=pinturas" class= "image-categories pinturas">
      <div class="description">
        <p>Pinturas</p>
      </div>
    </a>

       <a href="/celebrities?query=pinturas" class= "image-categories pinturas">
      <div class="description">
        <p>Pinturas</p>
      </div>
    </a>

    </div>


  </div>

</div>
