// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.nav{
  display: flex;
  position: relative;
  margin-top: 2vh;
    .home_icons {
    font-size: 3vw;
    margin-left: 1vh;
      .fa-instagram{
        color: black;
      }
      .fa-facebook{
        color: black;
      }
    }
    .text-inicio{
      position: absolute;
      font-size: 2vw;
      padding-left: 60vw;
    }
    .text-contacto{
      position: absolute;
      font-size: 2vw;
      padding-left: 67vw;
    }
}
.line-nav {
  color: black;
  margin-top: 3vw;
}

